.navbar {
    margin-bottom: 30px;
}
h1 {
    font-size: 30px;
}
.columns {
  margin-right: 15px;
}
#trash {
  position:fixed;
  text-align: center;
  bottom: 0;  
  left: 0;
  right: 0;
  background: red;
  color: white;
  font-size: 40px;
}
.poster {
  width: 90px;
  height: auto;
}
.vertical-center {
  padding: 50px 0;
}
.marg-side-10 {
  margin: 0 10px 0 10px;
}

.searched-movies {
  margin: auto;
}
.label {
  color: white;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 960px) {
  .searched-movies .movie-card {
    width: 950px !important;
  }
  .movie-card {
    width: 450px !important;
  }
  .search-column {
    margin: 0 10px 0 10px;
    width: 950px !important;
  }
}
@media only screen and (max-width: 400px) {
  .title {
    font-size: 1rem;
  }
}